:root {
  --container-px: 37px;
  --header-py: 13px;

  // > 600px
  @include min-media-querie($w-sm) {
    --container-px: 50px;
    --header-py: 15px;
  }

  // > 960px
  @include min-media-querie($w-lg) {
    --container-px: 100px;
    --header-py: 17px;
  }

  // > 1240px
  @include min-media-querie($w-xl) {
    --container-px: 200px;
    --header-py: 19px;
  }

  // > 1800px
  @include min-media-querie($w-xxl) {
    --container-px: 300px;
    --header-py: 21px;
  }
}

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
