* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input,
select {
  outline: none;
  border: none;
}

li {
  list-style: none;
}
