.dropdown {
  display: none;

  @include min-media-querie($w-xxl) {
    width: 100%;
    max-width: 1320px;
    height: 279px;
    padding: 32px 161px 55px;

    background-color: $primary-color-100;
    box-shadow: 0 1px 1px $primary-color-300;
    border-top: 4px solid $terciary-color-400;

    position: absolute;
    top: 100%;
    left: var(--container-px);

    @include flex-between();
    align-items: flex-start;
  }
}

.dropdown--card {
  width: 126px;

  &:first-child {
    width: 90px;
  }

  &:nth-child(2) {
    width: 140px;
  }

  &:nth-child(3) {
    width: 134px;
  }
}

.dropdown--title {
  max-width: 100%;
  font-family: "Sora", sans-serif;
  text-align: left;
  font-weight: 800;
  font-size: px-to-rem(18);
  line-height: px-to-rem(24);
  color: $terciary-color-600;
}

.dropdown--divider {
  width: 63px;
  height: 0.5px;
  border: none;
  background-color: $primary-color-500;
  margin: 12px 0;
}

.dropdown--list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__gap5 {
    gap: 5px;
  }
}

.dropdown--item {
  font-family: "Sora", sans-serif;
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  color: $secondary-color-200;

  &__bold {
    font-weight: 800;
    color: $terciary-color-700;
  }
}
