@import "../config/themes"; // Para conseguir visualizar as cores

.navbar {
  display: none;

  width: 100%;
  padding: 15px var(--container-px) 17px;

  background-color: $terciary-color-700;

  position: relative;

  @include min-media-querie($w-xxl) {
    @include flex-between();
  }
}

.navbar--nav ul {
  @include flex-center();
  gap: 34px;
}

.navbar--dropdown,
.navbar--link {
  cursor: pointer;
  font-family: "ArcherPro", sans-serif;
  font-style: normal;
  font-size: px-to-rem(14);
  letter-spacing: 0px;
  color: $primary-color-100;
  text-transform: uppercase;

  &:hover {
    font-weight: bold;
  }
}

.navbar--link {
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: $primary-color-100;
  }
}

.navbar--dropdown {
  @include flex-center();
  gap: 5px;

  .navbar--icon {
    width: px-to-rem(12);
    height: px-to-rem(12);
    color: $primary-color-100;
    margin-bottom: 1px;
  }
}

.navbar--search {
  width: 238px;
  height: 40px;
  border: 1px solid $terciary-color-400;
  border-radius: 8px;
  position: relative;
}

.navbar--input {
  @include full();
  border: none;
  background: none;
  padding-left: 15px;
  padding-right: calc(15px + 22px + 10px);

  color: $terciary-color-200;
  font-family: "ArcherPro", sans-serif;
  font-style: normal;
  font-size: px-to-rem(14);
  letter-spacing: 0px;

  &::placeholder {
    opacity: 0.5;
  }
}

.navbar--btn__search {
  position: absolute;
  right: 15px;
  top: calc(50% - 11px); // (100% - 22px) / 2

  color: $terciary-color-100;

  :hover > * {
    color: $terciary-color-200;
  }
}

.navbar--icon__search {
  width: px-to-rem(22);
  height: px-to-rem(22);
}
