@import "../config/themes"; // Para conseguir visualizar as cores

.products {
  padding: 0 var(--container-px);
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include min-media-querie(1320px) {
    padding: 60px 0;
  }
}

.products--title {
  text-align: center;
  font-size: px-to-rem(17);
  line-height: px-to-rem(21);
  font-weight: 900;
  color: $terciary-color-700;

  &__strong {
    color: $terciary-color-400;
  }
}

.products--list {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 16px;
  margin-top: 16px;

  display: flex;
  gap: 20px;

  @include min-media-querie($w-md) {
    background-color: $primary-color-200;
    padding: 20px;
    gap: 26px;
  }

  &::-webkit-scrollbar {
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-color-400;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $terciary-color-500;
  }
}

.products--item {
  min-width: 122px;
  max-width: 122px;
  width: 122px;
  height: 132px;
  background-color: $primary-color-200;
  mix-blend-mode: multiply;

  @include flex-center(column);
  gap: 13.33px;

  font-size: px-to-rem(14);
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  color: $primary-color-600;
}

.products--img {
  width: 110px;
  height: 81px;
  object-fit: contain;
}

.products--btn {
  margin-top: 40px;
  width: 100%;
  max-width: 220px;
  min-height: 32px;

  padding: 8px 0;

  background-color: $terciary-color-300;
  @include flex-center();

  font-size: px-to-rem(12);
  font-weight: 900;
  color: $terciary-color-700;
  text-transform: uppercase;
}
