@import "../config/themes"; // Para conseguir visualizar as cores

.register {
  width: 100%;
  padding: 0 var(--container-px);
  height: 274px;
  margin-bottom: 60px;

  @include min-media-querie(1320px) {
    padding: 0;
    height: 402px;
  }
}

.register--continue {
  width: 100%;
  height: 100%;
  padding: 32px;
  @include bg-image("../../../public/assets/register/banner__mobile.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid $terciary-color-400;

  @include min-media-querie($w-md) {
    background-image: url("../../../public/assets/register/banner.png");
    justify-content: center;
    align-items: flex-start;
  }
}

.register--title {
  max-width: 611px;
  text-align: center;
  font-size: px-to-rem(17);
  line-height: px-to-rem(21);
  font-weight: 900;
  color: $terciary-color-700;
  margin-bottom: 17px;

  @include min-media-querie($w-md) {
    font-size: px-to-rem(32);
    line-height: px-to-rem(43);
  }
}

.register--text {
  max-width: 222px;
  text-align: center;
  font-size: px-to-rem(12);
  line-height: px-to-rem(16);
  font-weight: 700;
  color: $terciary-color-600;
  margin-bottom: 32px;

  @include min-media-querie($w-md) {
    max-width: 533px;
    text-align: left;
    font-size: px-to-rem(18);
    line-height: px-to-rem(24);
  }
}

.register--btn {
  width: 100%;
  max-width: 165px;
  min-height: 32px;

  padding: 8px 0;

  background-color: $terciary-color-300;
  @include flex-center();

  font-size: px-to-rem(12);
  line-height: px-to-rem(16);
  font-weight: 900;
  color: $terciary-color-700;
  text-transform: uppercase;

  @include min-media-querie($w-md) {
    width: 169px;
    height: 39px;
    font-size: px-to-rem(14);
    line-height: px-to-rem(19);
  }
}
