@font-face {
  font-family: "ArcherPro";
  src: url("../../../public/fonts/ArcherProBook/ArcherProBook.otf");
}

$sora--font: "Sora", sans-serif;
$roboto-font: "Roboto Slab", serif;
$archer-font: "ArcherPro", sans-serif;
