@import "../config/themes"; // Para conseguir visualizar as cores

.footer {
  width: 100%;
  padding: 24px var(--container-px) 39px;

  border-top: 5px solid $terciary-color-500;
  background-color: $secondary-color-200;

  display: flex;
  flex-direction: column;

  @include min-media-querie($w-lg) {
    padding-top: 38px;
    padding-bottom: 46px;
  }
}

.footer--continue {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 2px solid $primary-color-400;

  display: flex;
  flex-direction: column;

  @include min-media-querie($w-lg) {
    padding-bottom: 134px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }
}

.footer--home {
  display: block;
  width: 64px;
  height: 24px;

  margin-bottom: 25.57px;

  @include min-media-querie($w-lg) {
    flex: 2;
    margin-bottom: 0;
  }
}

.footer--logo {
  transition: all ease 0.3s;
  transform: scale(1);
  width: 88px;
  height: 34px;
  object-fit: contain;

  &:hover {
    transform: scale(1.1);
  }
}

.footer--nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;

  @include min-media-querie($w-lg) {
    margin-bottom: 0;
  }
}

.footer--section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @include min-media-querie($w-lg) {
    margin-bottom: 0;
  }

  &__socials {
    width: 100%;
    padding: 18px 14px;
    gap: 15px;
    align-items: center;

    background-color: $secondary-color-400;

    @include min-media-querie($w-lg) {
      width: auto;
      padding: 0 14px;
      background-color: transparent;
    }
  }
}

.footer--title {
  font-size: px-to-rem(14);
  line-height: px-to-rem(19);
  font-weight: 900;
  text-transform: uppercase;
  color: $terciary-color-100;

  &__socials {
    font-size: px-to-rem(17);
    font-weight: 500;
    color: $terciary-color-300;
    text-align: center;
    text-transform: none;
  }
}

.footer--list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__socials {
    width: 100%;
    max-width: 240px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.footer--item {
  font-size: px-to-rem(11);
  line-height: px-to-rem(15);
  font-weight: 500;
  color: $terciary-color-400;

  &__socials {
    color: $terciary-color-300;
  }
}

.footer--link:hover {
  text-decoration: underline;
}

.footer--link__socials {
  transition: all ease 0.3s;
  &:hover {
    color: $terciary-color-500;
  }
}

.footer--bottom {
  @include flex-between(row);
  align-items: flex-start;
}

.footer--schedules {
  width: 128px;
  text-align: left;
  font-size: px-to-rem(11);
  line-height: px-to-rem(15);
  color: $terciary-color-200;
}

.footer--socials {
  width: px-to-rem(24);
  height: px-to-rem(24);

  &:hover {
    transform: scale(1.1);
  }
}

.footer--copy {
  display: none;
  @include min-media-querie($w-lg) {
    transition: all ease 0.3s;
    display: block;
    text-align: left;
    font-size: px-to-rem(14);
    line-height: px-to-rem(19);
    color: $primary-color-400;
  }
}
