.dropdown {
  display: none;

  @include min-media-querie($width--xxl) {
    width: 100%;
    max-width: 1320px;
    height: 279px;
    padding: 32px 161px 55px;

    background-color: var(--primary-color-100);
    box-shadow: 0 1px 1px var(--primary-color-300);
    border-top: 4px solid var(--terciary-color-400);

    position: absolute;
    top: 100%;
    left: var(--container-px);

    @include flex-between();
    align-items: flex-start;
  }
}

.dropdown--card {
  width: 126px;

  &:first-child {
    width: 90px;
  }

  &:nth-child(2) {
    width: 140px;
  }

  &:nth-child(3) {
    width: 134px;
  }
}
